// general style
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #302c42;
    color: #fff;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    padding: 20px 0px;
    position: sticky;
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

.mt-5 {
    margin-top: 20px;
}

.mt-90 {
    margin-top: 80px;
}

// generel style end

// navbar style start

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__item {
    font-weight: 600;
    font-size: 14px;
}

.button__group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__button__item {
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    font-weight: 700;
}

// navbar style end

// main style start

// section one container left
.about__page__container {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    justify-content: space-between;
}

.about__sarlavha {
    font-weight: 700;
    font-size: 42px;
    line-height: 56.07px;
    margin-bottom: 20px;
}

.abaut__info__left_container,
.abaut__info__right_container {
    width: 42%;
}

.strelka__img {
    display: flex;
    align-items: center;
}

.about__info {
    line-height: 20px;
    font-weight: 300;
}

// section one container left finish

// section one container right start

.abaut__info__right_container img {
    border: 20px solid #2a2639;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 25%;
}

// call center page

.call__center__page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 35px;
    margin-bottom: 10%;
    border-radius: 80px;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
}

.call__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.call__logo {
    padding: 20px;
}

.hr {
    width: 2px;
    height: 100px;
    border: 1px solid none;
    background-color: #8176AF;
    border-radius: 20px;
    margin: 0px 20px;
}

//- start two page
.services__page__container {
    margin-bottom: 10%;
}

.services__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}

.services__title__container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.services__title {
    font-weight: 700;
}

.services__title-2 {
    font-weight: 300;
}

.services__text {
    line-height: 30px;
    font-weight: 300;
    width: 652px;
}

///////////////
.user__img__left img {
    border-top-left-radius: 50%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 50%;
}

.user__about__container {
    display: flex;
    justify-content: space-between;
}

.user__img__left,
.user__about__right {
    width: 50%;
}

.user__about__right h1 {
    font-size: 36px;
}

.user__text {
    line-height: 29.5px;
    font-weight: 300;
    width: 628px;
}

.user__title-2 {
    font-weight: 300;
    margin-bottom: 30px;
}


// next page

.users__page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}

.users__container {
    text-align: center;
    border-radius: 30px;
    margin: 0px 10px;
    padding: 30px;
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
}

.users__img img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

.users__about {
    text-align: center;
}

.hr2 {
    width: 80%;
    height: 2px;
    border: 2px solid #8176AF;
    margin: 20px auto;
}

.use__texts {
    text-align: left;
    margin-bottom: 20px;
    line-height: 20px;

}

// main style finish

// footer start

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.hr3 {
    border: none;
    border-radius: 20px;
    width: 5px;
    height: 196px;
    background-color: #8176AF;

}

.footer__ul {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.footer__ul li {
    font-weight: 700;
    font-size: 20px;
}

.icons {
    margin: 20px 0px;
}

.icons i {
    color: rgba(192, 183, 232, 1);
    font-size: 30px;
    padding: 10px;
}

// footer finish

.footer__end {
    text-align: center;
    margin: 50px 0px;
}

@media (max-width: 1200px) {
    .about__page__container {
        justify-content: center;
    }
    .abaut__info__right_container img{
        height: 426px;
        width: 490px;
    }
  }
  